<%= form_with model: article do |form| %>

  <div class = "form">
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class = "errorMessage"><%= message %></div>
    <% end %>
  
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class = "errorMessage"><%= message %></div>
    <% end %>
  
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  
    <%= form.submit %>
  </div>
  
<% end %>
  