<!DOCTYPE html>
<html>
  <head>
    <title>The Gaming Blog</title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <%# The index.html.erb file will contain the logic that is needed to display the
    <%# contents of the website back to the user. %>

    <h1>The Ultimate Gaming Collection</h1>
    <h6> Welcome to the the gaming blog, your number one blog for the hottest collection of games</h6>  
    <p>At the moment, our blog has <%= Article.public_count %> game(s) and counting!</p>

    <%# The div class highlights will store the information of the articles that were stored 
    <%# and displays them onto the main page of the website.%>
    <div class = "highlights">
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      <% end %>
    </ul>
    </div>
  
  <%# <%= button_tag "Click Me", class: "btn btn-primary" %>
  <%# <%= link_to "New Article", new_article_path %>
  
  <hr>
  <h2>You can help us expand our collection!</h2>
  <div class = "newArticleBtn">
  <%= button_to "Add New Article", new_article_path, method: :get, class: "btn btn-primary" %>
  </div>

  <hr>

  <h2>Join us today!</h2>
  <%# This part of the website will display two buttons that allow the user to
  <%# create or sign into their accounts%>
  <div class="userLogin">
    <%= button_to "Sign In!", login_path, method: :get, class: "btn btn-primary" %>
    <p>or</p>
    <%= button_to "Sign Up!", new_user_path, method: :get, class: "btn btn-primary" %>
  </div>

  <hr>
  
  <div class = "discordServer">
    <h2>Become a Discord Server Member!</h2>
    <%= button_to "Discord Server", discord_widget_fetch_data_path, method: :get, class: "btn btn-primary" %>
  </div>

  <hr>

  <div class = "dadJokes">
    <h2> Need something to brighten your day? </h2>
    <%= button_to "Click here for a joke!", joke_path, method: :get, class:"btn btn-primary" %>
  </div>

  <hr>

  </body>
</html>