<h1>The Wonderful Discord Server</h1>

<div class = "discordAPICall mt-3">
  <strong><p> Server Details: </p></strong>
  <strong>Server Name: </strong> <%= @widget_data["name"] %><br>
  <strong>Join in the Action: </strong> <%= @widget_data["instant_invite"] %><br>

  <br>

  <h4> Who's online? </h4>
  <% @widget_data["members"].each do |member| %>
    <strong>ID:</strong> <%= member["id"] %><br>
    <strong>Discord Username:</strong> <%= member["username"] %><br>
    <strong>Activity Status:</strong> <%= member["status"] %><br>
    <hr>
  <% end %>
</div>