<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <%# The application.html.erb file is an example of the use of the Template Design Pattern
  <%# as the content inside of the body will be displayed in all of the different webpages%>
  
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
